<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wadrian Automoveis</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
</head>

<body>

    <header>
        <div class="container">
            <form>
            </form>
        </div>
    </header>

    <div class="container-lado-lado">
        <main>

            <div class="linha">
                <div class="produto">
                    <img src="./img/produto.jpg" alt="Imagem do produto">
                    <h3>Peugeot 208</h3>
                    <div class="info-preco">
                        <span class="preco">R$ 81.800,00</span>
                    </div>

                    <div class="controles">
                        <a class="favoritarBt">
                            <i class="material-icons">favorite</i> Favorito
                        </a>
                        <a class="comprarBt">
                            <i class="material-icons">attach_money</i> Comprar
                        </a>
                    </div>
                </div>
                <div class="produto">
                    <img src="./img/produto.jpg" alt="Imagem do produto">
                    <h3>Peugeot 208</h3>
                    <div class="info-preco">
                        <span class="preco">R$ 81.800,00</span>
                    </div>

                    <div class="controles">
                        <a class="favoritarBt">
                            <i class="material-icons">favorite</i> Favorito
                        </a>
                        <a class="comprarBt">
                            <i class="material-icons">attach_money</i> Comprar
                        </a>
                    </div>
                </div>
                <div class="produto">
                    <img src="./img/produto.jpg" alt="Imagem do produto">
                    <h3>Peugeot 208</h3>
                    <div class="info-preco">
                        <span class="preco">R$ 81.800,00</span>
                    </div>

                    <div class="controles">
                        <a class="favoritarBt">
                            <i class="material-icons">favorite</i> Favorito
                        </a>
                        <a class="comprarBt">
                            <i class="material-icons">attach_money</i> Comprar
                        </a>
                    </div>
                </div>

            </div>

            </div>


        </main>
    </div>

</body>

</html>
